/* Normalizing */
@font-face {
    font-family: 'SuncheonR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/SuncheonR.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SuncheonB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/SuncheonB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
    margin:0;
    padding:0;
    font-family : 'SuncheonR';
    font-size:calc((100vw/1920)*16);
}
a{
    color:inherit;
    text-decoration: none;
}
ul,li{
    list-style:none;
}

/* Library */

.wrap{
    width:100%;
}
.con{
    /* width:1280px; */
    width:calc((100vw/1920)*1280);
    height: 100%;
    margin:0 auto;
    /* padding: 0 40px; */
    padding:0 calc((100vw/1920)*40);
    box-sizing:border-box;
}
.con_mo{
    max-width:100%;
    height: 100%;
    margin:0 auto;
    padding:0 calc((100%/720)*32);
    box-sizing:border-box;
}
.row::after{
    content:"";
    display:block;
    clear:both;
}
.cell{
    float:left;
}
.cell_r{
    float:right;
}
.wh_inherit{
    width: 100%;
    height: 100%;
}
.bgcolor_white{
    background-color:#fbfbfb;
}
.bgcolor_black{
    background-color:#232323;
}
.bgcolor_grey{
    background-color:#d6d6d6;
}
.bgcolor_red{
    background-color:#C62525;
}
.color_white{
    color:#fbfbfb;
}
.color_black{
    color:#232323;
}
.color_red{
    color:#C62525;
}
.color_grey{
    color:#d6d6d6;
}
.font_bold{
    font-family:"suncheonB";
}
.box_image{
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
}
.box_image > img{
    display:block;
    width: 100%;
}
.align_center{
    text-align:center;
}

/* style */

body{
    background-color:#fbfbfb;
}

/* .wrap_background start */

.wrap_background{
    width: 100%;
    height: 100%;
    position:fixed;
    z-index:999;
    display:flex;
}
.wrap_background > .box_background{
    width: 50%;
    height: 100%;
    position:relative;
    overflow:hidden;
}
.wrap_background > .box_background > svg{
    height: 100%;
    position:absolute;
    z-index:1;
}
.wrap_background > .box_background.left > .svg_code{
    top:0;
    left:calc((100vw/1920)*128);
    
}
.wrap_background > .box_background.left > .svg_code.code01 .cls02_code{
    animation:bg_left 1.5s;
}
.wrap_background > .box_background.left > .svg_code.code02 .cls02_code{
    animation:bg_left 1.3s;
}
.wrap_background > .box_background.left > .svg_code.code03 .cls02_code{
    animation:bg_left 1.2s;
}
.wrap_background > .box_background.left > .svg_code.code04 .cls02_code{
    animation:bg_left 1.1s;
}
.wrap_background > .box_background.left > .svg_code.code05 .cls02_code{
    animation:bg_left 0.9s;
}
.wrap_background > .box_background.right > svg{
    top:0;
    right:calc((100vw/1920)*128);
}
.wrap_background > .box_background.right > .svg_ground{
    animation:bg_right_ground 3s;
}
.wrap_background > .box_background.right > .svg_home{
    animation:bg_right_home 3s;
}
.wrap_background > .box_background.right > .svg_car{
    animation:bg_right_car 3s;
}
.wrap_background > .box_background.right > .svg_sun{
    animation:bg_right_sun 3s ease-in;
}
.wrap_background > .box_background.right > .svg_cloud{
    animation:bg_right_cloud 3s ease-in;
}
.wrap_background > .box_background.right > .svg_hello{
    animation:bg_right_hello 3s;
}
.wrap_background > .box_background.right > .svg_today{
    animation:bg_right_today 3s;
}
.wrap_background > .box_background.right > .svg_birds{
    animation:bg_right_birds 3s ease-in;
}
/* .wrap_background end */

/* .wrap_layout_backgroud start */

.wrap_layout_background > .box_layout_background{
    width:calc((100vw/1920)*1280);
    height: 100%;
    padding:0 calc((100vw/1920)*40);
    box-sizing:border-box;
    position:absolute;
    top:0;
    left:50%;
    transform:translateX(-50%);
    z-index:9999;
    pointer-events:none;
}
.wrap_layout_background > .box_layout_background > .box_language{

    position:absolute;
    right:calc((100vw/1920)*40);
    bottom:calc((100vh/1080)*40);
}
.wrap_layout_background > .box_layout_background > .box_language > .language{
    font-size:calc((1rem/16)*24);
    line-height:calc(36/24);
    text-align:right;
    color:#d6d6d6;
    pointer-events:auto;
    cursor:pointer;
}

/* hover event on .wrap_layout_background start */

.wrap_layout_background > .box_layout_background > .box_language > .language:hover{
    font-family:"suncheonB";
    color:#C62525;
}

/* hover event on .wrap_layout_background end */

/* click event on .wrap_layout_background start */

.wrap_layout_background > .box_layout_background > .box_language > .language.active{
    font-family:"suncheonB";
    color:#C62525;
}

/* click event on .wrap_layout_background end */

/* .wrap_layout_backgroud end */



/* .wrap_fullpage start */
.wrap_fullpage{
    z-index:8888;
}

/* .view_pc start */
.view_pc{
    width: 100%;
    height: 100%;
}
/* .box_introduction start */
.view_pc > .box_introduction{
    position:relative;
}
.view_pc > .box_introduction > .box_svg{
    position:absolute;
    top:0;
    left:0;
}
.view_pc > .box_introduction > .box_svg > svg{
    position:absolute;
    top:0;
    left:0;
}
.view_pc > .box_introduction > .box_name{
    position:absolute;
    right:calc((100vw/1920)*102);
    bottom:calc((100vh/1080)*282);
}
.view_pc > .box_introduction > .box_name > div{
    display:inline-block;
    text-align:right;
    font-size:calc((1rem/16)*40);
}
.view_pc > .box_introduction > .box_name > .occupation{
    position:absolute;
    top:120%;
    right:0;
}

/* .box_introduction end */

/* modulation on .box_abilty .box_project .box_contact start */
.box_section{
    display:flex;
    flex-direction:column;
}
/* .box_layout start */
.box_layout_title{
    width: 100%;
    padding-top:calc((100%/1200)*96);
}
.box_layout_title > .box_title{
    width:calc((100%/1200)*282);
    padding-top:calc((100%/1200)*64);
    margin-left:calc((100%/1200)*102);
    position:relative;
}
.box_layout_title > .box_title > .box_text{
    width:100%;
    position:relative;
}
.box_layout_title > .box_title > .box_text > .text_title{
    font-size:calc((1rem/16)*64);
    line-height:1;
    position:absolute;
    bottom:0;
    left:0;
}
.box_layout_title > .box_title > .box_underline{
    width:100%;
    height: 2px;
}
.box_layout_title > .box_title > .box_circle{
    width:calc((100%/282)*16);
    padding-bottom:calc((100%/282)*16);
    border-radius:100%;
    position:absolute;
    bottom:calc((100%/64)*8);
    right:calc((100%/282)*2);
}

/* .box_layout_title end */

/* .box_layout_content start */

.box_layout_content{
    width: 100%;
    height: 100%;
    margin-top:calc((100%/1200)*80);
    display:flex;
}
.box_layout_content > .box_content.left{
    height: 100%;
    margin-right:calc((100%/1200)*24);
}
.box_layout_content > .box_content.right{
    margin-top:calc((100%/1200)*32);
    position:relative;
}
.box_layout_content > .box_content.right .box_cover{
    width: 100%;
    position:absolute;
    top:0;
    left:0;
}
.box_layout_content > .box_content.right .box_cover > .box_text > .box_title_2depth > .text_title_2depth{
    font-size:calc((1rem/16)*40);
}
.box_layout_content > .box_content.right .box_cover > .box_text > .box_explanation_2depth > .text_explanation_2depth{
    font-size:calc((1rem/16)*24);
}

/* .box_layout_content end */

/* modulation on .box_abilty .box_project .box_contact end */


/* .box_ability start */

.view_pc > .box_ability > .box_layout_content > .box_content.left{
    flex:690 1 0%;
}
.view_pc > .box_ability > .box_layout_content > .box_content.left > .box_graph{
    width:calc((100%/690)*516);
    margin-left:calc((100%/690)*36);
}
.view_pc > .box_ability > .box_layout_content > .box_content.right{
    flex:486 1 0%;
}
.view_pc > .box_ability > .box_layout_content > .box_content.right > .box_cover > .box_text{
    width: 100%;
    margin-bottom:calc((100%/486)*32);
}
.view_pc > .box_ability > .box_layout_content > .box_content.right > .box_cover > .box_text > .box_title_2depth{
    margin-bottom:calc((100%/486)*8);
}


/* .box_ability end */

/* .box_project start */

.view_pc > .box_project > .box_layout_content > .box_content.left{
    width:calc((100%/1200)*792);
    position:relative;
}
.view_pc > .box_project > .box_layout_content > .box_content.left > .box_cover_slide{
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    position:relative;
}
.view_pc > .box_project > .box_layout_content > .box_content.left > .box_cover_slide > .box_slide{
    width: calc((100%/792)*588);
    height:calc((100%/837)*720);
    border:4px solid #232323;
    box-sizing:border-box;
}
.view_pc > .box_project > .box_layout_content > .box_content.left > .box_cover_slide > .box_slide .content_slide{
    width: 100%;
    height: 100%;
    border:4px solid rgba(0, 0, 0, 0);
    box-sizing:border-box;
    overflow:hidden;
}
.view_pc > .box_project > .box_layout_content > .box_content.left > .box_cover_slide > .box_slide .content_slide.slide01 > .box_image{
    background-image:url("../image/03project/okitchen.png");
}
.view_pc > .box_project > .box_layout_content > .box_content.left > .box_cover_slide > .box_slide .content_slide.slide02 > .box_image{
    background-image:url("../image/03project/skhyeng.png");
}
.view_pc > .box_project > .box_layout_content > .box_content.left > .box_cover_slide > .box_slide .content_slide.slide03 > .box_image{
    background-image:url("../image/03project/hanabank.png");
}
.view_pc > .box_project > .box_layout_content > .box_content.left > .box_cover_slide > .box_slide .content_slide.slide04 > .box_image{
    background-image:url("../image/03project/converse.png");
}
.view_pc > .box_project > .box_layout_content > .box_content.left > .box_cover_slide > .box_pagination{
    margin-top:calc((100%/792)*16);
    display:inline-block;
    text-align:center;
    font-size:calc((1rem/16)*24);
}
.view_pc > .box_project > .box_layout_content > .box_content.left > .box_cover_slide > .box_pagination > .swiper-pagination-current{
    font-size:calc((1rem/16)*24);
}
.view_pc > .box_project > .box_layout_content > .box_content.left > .box_cover_slide > .box_pagination > .swiper-pagination-total{
    font-size:calc((1rem/16)*24);
}
.view_pc > .box_project > .box_layout_content > .box_content.left > .box_cover_slide > .box_navigation{
    width: 100%;
    position:absolute;
    top:calc((100%/837)*310);
    left:0;
    display:flex;
    justify-content:space-between;
    padding:0 calc((100%/792)*48);
    box-sizing:border-box;
    pointer-events:none;
}
.view_pc > .box_project > .box_layout_content > .box_content.left > .box_cover_slide > .box_navigation > .box_arrow{
    width:calc((100%/792)*28);
    padding-bottom:calc((100%/792)*80);
    pointer-events:auto;
    cursor:pointer;
}
.view_pc > .box_project > .box_layout_content > .box_content.left > .box_cover_slide > .box_navigation > .box_arrow.arrow_left{
    background-image:url("../image/03project/arrow_L.png");
}
.view_pc > .box_project > .box_layout_content > .box_content.left > .box_cover_slide > .box_navigation > .box_arrow.arrow_right{
    background-image:url("../image/03project/arrow_R.png");
}
.view_pc > .box_project > .box_layout_content > .box_content.right{
    width:calc((100%/1200)*384);
}
.view_pc > .box_project > .box_layout_content > .box_content.right > .box_projectinfo{
    position:absolute;
    top:0;
    left:0;
}
.view_pc > .box_project > .box_layout_content > .box_content.right > .box_projectinfo > .box_cover > .box_text{
    width: 100%;
    margin-bottom:calc((100%/384)*40);
    display:flex;
}
.view_pc > .box_project > .box_layout_content > .box_content.right > .box_projectinfo > .box_cover > .box_text > .box_title_2depth{
    flex:180 1 0%;
}
.view_pc > .box_project > .box_layout_content > .box_content.right > .box_projectinfo > .box_cover > .box_text > .box_explanation_2depth{
    flex:204 1 0%;
    margin-top:calc((100%/384)*(40 - 24));
}
.view_pc > .box_project > .box_layout_content > .box_content.right > .box_projectinfo > .box_cover > .box_text > .box_explanation_2depth:last-child{
    line-height:calc(32/24);
}
.view_pc > .box_project > .box_layout_content > .box_content.right > .box_projectinfo > .box_outerlink{
    width:calc((100%/384)*278);
    position:absolute;
    bottom:calc((100%/805)*157);
    left:0;
}
.view_pc > .box_project > .box_layout_content > .box_content.right > .box_projectinfo > .box_outerlink > .outerlink{
    display:block;
    width: 100%;
    padding-bottom:calc((100%/384)*76);
    border:2px solid #232323;
    position:relative;
}
.view_pc > .box_project > .box_layout_content > .box_content.right > .box_projectinfo > .box_outerlink > .outerlink > .box_text{
    white-space:nowrap;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}
.view_pc > .box_project > .box_layout_content > .box_content.right > .box_projectinfo > .box_outerlink > .outerlink > .box_text > span{
    font-size:calc((1rem/16)*24);
}

/* click event about active_slide start */
.view_pc > .box_project > .box_layout_content > .box_content.right > .box_projectinfo{
    z-index:88;
}
.view_pc > .box_project > .box_layout_content > .box_content.right > .box_projectinfo.active_slide{
    z-index:99;
}
.view_pc > .box_project > .box_layout_content > .box_content.right > .box_projectinfo > .box_cover > .box_text > .box_explanation_2depth{
    opacity:0;
    transform:rotateX(90deg);
    pointer-events:none;
}
.view_pc > .box_project > .box_layout_content > .box_content.right > .box_projectinfo.active_slide > .box_cover > .box_text > .box_explanation_2depth{
    opacity:1;
    transform:rotateX(0deg);
    pointer-events:auto;
    transition:0.5s;
}
.view_pc > .box_project > .box_layout_content > .box_content.right > .box_projectinfo > .box_outerlink{
    opacity:0;
    pointer-events:none;
}
.view_pc > .box_project > .box_layout_content > .box_content.right > .box_projectinfo.active_slide > .box_outerlink{
    opacity:1;
    pointer-events:auto;
}

/* click event about active_slide end */


/* .box_project end */

/* .box_footer start */
.wrap_footer > .view_pc{
    height:calc((100vw/1920)*280);
    background-color:#232323f7;
}
.wrap_footer > .view_pc > .box_footer{
    position:relative;
}
.wrap_footer > .view_pc > .box_footer > .box_layout_content_footer{
    width:calc((100%/1280)*690);
    position:absolute;
    bottom:calc((100vw/1920)*24);
    right:calc((100vw/1920)*142);
    display:flex;

    height:calc((100vw/1920)*144);
}
.wrap_footer > .view_pc > .box_footer > .box_layout_content_footer > .box_cover{
    width:50%;

    height:100%;
}
.wrap_footer > .view_pc > .box_footer > .box_layout_content_footer > .box_cover > .box_outerlink{
    width: 100%;
    position:relative;

    height: 50%;
}
.wrap_footer > .view_pc > .box_footer > .box_layout_content_footer > .box_cover > .box_outerlink > .outerlink{
    display:block;
    width: 100%;
    position:absolute;
    top:50%;
    left:0;
    transform:translateY(-50%);
    display:flex;
    pointer-events:none;
}
.wrap_footer > .view_pc > .box_footer > .box_layout_content_footer > .box_cover > .box_outerlink > .outerlink > .box_icon{
    width:calc((100%/345)*32);
    padding-bottom:calc((100%/345)*32);
    border-radius:100%;
    position:relative;
    pointer-events:auto;
}
.wrap_footer > .view_pc > .box_footer > .box_layout_content_footer > .box_cover > .box_outerlink > .outerlink > .box_icon > .icon{
    width:calc((100%/32)*24);
    height: 0;
    padding-bottom:calc((100%/32)*24);
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}
.wrap_footer > .view_pc > .box_footer > .box_layout_content_footer > .box_cover > .box_outerlink > .outerlink > .box_text{
    padding-left:calc((100%/345)*8);
    pointer-events:auto;
}
.wrap_footer > .view_pc > .box_footer > .box_layout_content_footer > .box_cover > .box_outerlink > .outerlink > .box_text > span{
    font-size:calc((1rem/16)*24);
    line-height:calc(32/24);
}

/* .box_footer end */



/* .view_pc end */

/* .view_mo start */

.view_mo{
    width: 100%;
    height: 100%;
    display:none;
}

/* .view_mo end */


/* click event on korean-english transform start*/

/* on .box_introduction start*/

.box_svg > .svg_title{
    opacity:0;
    pointer-events:none;
}
.box_svg.active > .svg_title{
    opacity:1;
    pointer-events:auto;
    transition:0.5s;
}
.view_pc > .box_introduction > .box_svg > .svg_underline{
    stroke-dasharray:3000;
    stroke-dashoffset:3000;
}
.view_pc > .box_introduction > .box_svg.active > .svg_underline{
    stroke-dashoffset:0;
    transition:2s;
}
.view_pc > .box_introduction > .box_name > .occupation{
    opacity:0;
    pointer-events:none;
}
.view_pc > .box_introduction > .box_name > .occupation.active{
    opacity:1;
    pointer-events:auto;
    transition:0.5s;
}
/* on .box_introduction end */

/* on .box_layout_title start*/
.box_layout_title > .box_title > .box_text >.text_title{
    opacity:0;
    pointer-events:none;
}
.box_layout_title > .box_title > .box_text >.text_title.active{
    opacity:1;
    pointer-events:auto;
    transition:0.5s;
}
/* on .box_layout_title end*/

/* on .box_layout_content start */
.box_layout_content > .box_content.right .box_cover{
    z-index:88;
}
.box_layout_content > .box_content.right .box_cover.active{
    z-index:99;
}
.box_layout_content > .box_content.right .box_cover > .box_text > .box_title_2depth > .text_title_2depth{
    opacity:0;
    pointer-events:none;
}
.box_layout_content > .box_content.right .box_cover.active > .box_text > .box_title_2depth > .text_title_2depth{
    opacity:1;
    pointer-events:auto;
    transition:0.5s;
}
.box_layout_content > .box_content.right .box_cover > .box_text > .box_explanation_2depth > .text_explanation_2depth{
    opacity:0;
    pointer-events:none;
}
.box_layout_content > .box_content.right .box_cover.active > .box_text > .box_explanation_2depth > .text_explanation_2depth{
    opacity:1;
    pointer-events:auto;
    transition:0.6s ease-in;
}

/* on .box_layout_content end */

/* on .box_project start */

.view_pc > .box_project > .box_layout_content > .box_content.right > .box_projectinfo > .box_outerlink > .outerlink > .box_text{
    opacity:0;
    pointer-events:none;
}
.view_pc > .box_project > .box_layout_content > .box_content.right > .box_projectinfo > .box_outerlink > .outerlink > .box_text.active{
    opacity:1;
    pointer-events:auto;
    transition:0.5s;
}

/* on .box_project end */

/* click event on korean-english transform end */


/* .wrap_fullpage end */


/* animation start */

@keyframes bg_left{
    0%{
        stroke-dashoffset:100px;
        stroke-opacity:1;
        fill-opacity:0;
    }
    60%{
        fill-opacity:0;
    }
    80%{
        stroke-dashoffset:0px;
        stroke-opacity:0.7;
    }
    100%{
        stroke-dashoffset:0px;
        stroke-opacity:0;
        fill-opacity:1;
    }
}
@keyframes bg_right_ground{
    0%{
        stroke-dashoffset:2000px;
        stroke-opacity:0;
    }
    50%{
        stroke-dashoffset:2000px;
        stroke-opacity:0;
    }
    60%{
        stroke-opacity:1;
    }
    65%{
        stroke-dashoffset:0;
        stroke-opacity:1;
    }
    100%{
        stroke-dashoffset:0;
        stroke-opacity:1;
    }
}
@keyframes bg_right_home{
    0%{
        opacity:0;
    }
    65%{
        opacity:0;
    }
    80%{
        opacity:1;
    }
}
@keyframes bg_right_car{
    0%{
        opacity:0;
    }
    70%{
        opacity:0;
    }
    85%{
        opacity:1;
    }
}
@keyframes bg_right_sun{
    0%{
        opacity:0;
        right:calc((100vw/1920)*400);
    }
    70%{
        opacity:0;
        right:calc((100vw/1920)*400);
    }
    80%{
        opacity:1;
        right:calc((100vw/1920)*128);
    }
}
@keyframes bg_right_cloud{
    0%{
        opacity:0;
        right:calc((100vw/1920)*400);
    }
    72%{
        opacity:0;
        right:calc((100vw/1920)*400);
    }
    83%{
        opacity:1;
        right:calc((100vw/1920)*128);
    }
}
@keyframes bg_right_hello{
    0%{
        opacity:0;
        transform:rotateX(-90deg);
    }
    70%{
        opacity:0;
        transform:rotateX(-90deg);
    }
    85%{
        opacity:1;
    }
    90%{
        opacity:1;
        transform:rotateX(0);
    }
}
@keyframes bg_right_today{
    0%{
        opacity:0;
        transform:rotateX(-90deg);
    }
    75%{
        opacity:0;
        transform:rotateX(-90deg);
    }
    90%{
        opacity:1;
    }
    95%{
        opacity:1;
        transform:rotateX(0);
    }
}
@keyframes bg_right_birds{
    0%{
        opacity:0;
        top:30vh;
    }
    90%{
        opacity:0;
        top:30vh;
    }
    95%{
        opacity:1;
    }
    100%{
        opacity:1;
        top:0;
    }
}

/* animation end */


/* mediaquery start */

@media screen and (max-aspect-ratio:1/1){
    .wrap_background{
        display:none;
    }
    .con{
        width:100vw;
    }
    .wrap_layout_background > .box_layout_background{
        width: 100%;
    }
}
/* @media screen and (max-width:960px){
    .con{
        width:100vw;
    }
    .wrap_background{
        display:none;
    }
    .wrap_layout_background > .box_layout_background{
        width: 100%;
    }
} */
/* mediaquery end */

.fp-watermark{
    display:none;
}